@import "variables.scss";

@font-face {
  font-family: "Maple-bold";
  src: url("/font/Maplestory Bold.ttf") format("truetype");
}

html {
  padding: 0;
  font-size: 62.5%;
  background: #fff;
}

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* max-width: 1060px; */
}

ul,
li,
a,
button {
  all: unset;
}

input {
  display: block;
  width: 30rem;
  height: 2rem;
  padding: 0.5rem;
  margin: 1rem;
  font-size: 1.2rem;
}
