.home-container {
  display: grid;
  grid-template-rows: auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr 50rem;
  background-color: lightpink;
}

.header-logo {
  font-size: 3rem;
  margin-left: 2rem;
}

.navigation {
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;

    li {
      cursor: pointer;
      font-size: 1.7rem;
    }
  }
}

.slider {
  height: 20rem;
  background-color: lightblue;
}

.city-preview {
  height: 20rem;
  background-color: lightgreen;
}
.tour-preview {
  height: 20rem;
  background-color: lightcoral;
}
.ticket-preview {
  height: 20rem;
  background-color: lightgrey;
}
