@import "variables.scss";
@import "App.scss";

/*
* HOME PAGE
*/
.home-container {
  display: grid;
  grid-template-rows: auto;
}

.header-wrapper {
  height: 37rem;
  background-image: $bg-img;
  background-repeat: cover;
  background-size: 100%;
  background-position: right 35% bottom 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;

  color: $black;
  text-shadow: 0 5px 5px rgba(129, 138, 148, 0.32);
  font-weight: 400;
  margin: 3rem auto;
  width: 100%;

  &-logo {
    font-size: 3rem;
    margin-left: 3rem;
    font-family: $bold;

    a {
      cursor: pointer;
    }
  }

  &-navigation {
    font-weight: 600;
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      width: 30rem;

      li {
        cursor: pointer;
        font-size: 1.7rem;
      }
    }
  }
}

.search {
  // display: grid;
  // grid-template-rows: 2fr 1fr 1fr;
  height: 20rem;
  text-align: center;
  margin-bottom: 3rem;

  &-title {
    margin: 1rem auto;

    &__main {
      font-size: 4rem;
      margin: 1rem;
      // margin-left: 2rem;
      // font-family: $bold;
      font-weight: 600;
      color: $beige;
      text-shadow: 0 5px 5px rgba(129, 138, 148, 0.32);
    }

    &__sub {
      font-size: 2rem;
      font-weight: 600;
      color: $beige;
    }
  }

  input {
    height: 4rem;
    width: 60rem;
    padding: 1rem;
    font-size: 1.5rem;
    margin: auto;

    &:focus::placeholder {
      color: transparent;
    }
  }
}

.city-preview {
  @include centered;

  &__title {
    text-align: center;

    &-main {
      @include md-title;
    }
    &-sub {
      font-size: 1.2rem;
    }
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem auto;
  }
}

.tour-preview {
  @include centered;

  &__title {
    text-align: center;

    &-main {
      @include md-title;
    }
    &-sub {
      font-size: 1.2rem;
    }
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem auto;
  }
}

.ticket-preview {
  @include centered;

  &__title {
    text-align: center;

    &-main {
      @include md-title;
    }
    &-sub {
      font-size: 1.2rem;
    }
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem auto;
  }
}

.city-button {
  cursor: pointer;
  width: 13rem;
  height: 13rem;
  background-color: $blue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  //   background-image: url("https://unsplash.it/200/200");
  font-size: 2rem;

  &:hover {
    background-color: yellow;
    transform: translateY(-1rem);
  }
}

/*
* PRODUCT PAGE
*/
.product {
  display: grid;
  grid-template-columns: 4fr 1.2fr;
  border-top: 1px solid $beige;
  padding-top: 1rem;
  @include centered;

  &-main {
    // background-color: $yellow;
    margin-right: 1rem;
    padding: 0 2rem;

    &__title {
      @include lg-title;
    }

    &__picture {
      height: 40rem;
      margin: 1rem auto;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: inherit;
        max-width: 100%;
      }
    }

    &__options {
      // height: 10rem;
      @include product-separated-area;

      &-header {
        @include sm-title;
      }
    }

    &__desc {
      @include product-separated-area;

      &-header {
        border-left: 7px solid $blue;
        padding-left: 5px;
        @include md-title;
      }
    }

    &__meeting-location {
      @include product-separated-area;
      &-header {
        border-left: 7px solid $blue;
        padding-left: 5px;
        @include md-title;
      }
    }

    &__meeting-time {
      @include product-separated-area;
      &-header {
        border-left: 7px solid $blue;
        padding-left: 5px;
        @include md-title;
      }
    }
  }

  &-side {
    text-align: center;
    box-shadow: 0 2px 5px rgba(129, 138, 148, 0.32);
    height: 20rem;
    margin-top: 3rem;
    padding: 1rem;

    position: sticky;
    top: 3rem;

    &__price {
      @include md-title;
    }

    &__buttons {
      button {
        @include main-button;
        margin: 1rem auto;
      }
    }
  }
}

/*
* CITY PAGE
*/
.city {
  // 공통으로 적용될 항목
  &__title {
    @include md-title;
    margin: 1.5rem 0;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  //

  &-header {
    height: 35rem;
    // background-image: url("/img/london-header.jpg");
    background-size: 100%;
    background-position: right 35% bottom 50%;

    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__name {
      &-main {
        font-size: 4rem;
      }

      &-sub {
        font-size: 2rem;
      }
    }
  }

  &-desc {
    max-width: 80%;
    margin: 6rem auto;
    height: auto;

    &__content {
      font-size: 1.5rem;
      display: flex;
      justify-content: space-between;
    }

    &__description {
      padding: 0 2rem;
      line-height: 3rem;
    }
  }

  &-tour {
    max-width: 80%;
    margin: 6rem auto;
  }

  &-ticket {
    max-width: 80%;
    margin: 6rem auto;
  }
}

/*
* Product Card
*/
.product-card {
  cursor: pointer;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  width: 25rem;
  height: 27rem;
  // background-color: greenyellow;
  border: 1px solid $beige;
  border-radius: 1rem;

  &:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 2px 5px rgba(129, 138, 148, 0.32);
  }

  &-top {
    position: relative;

    &__photo {
      height: 100%;
      // background-color: lightpink;
      img {
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
      }
    }

    &__heart {
      position: absolute;
      top: 0;
      right: 0;
      margin: 1rem;

      svg {
        cursor: pointer;

        &:hover {
          transform: translateY(-2px);
        }
      }
    }
  }

  &-bottom {
    margin: 1rem;
    position: relative;

    &__title {
      @include sm-title;
    }

    &__review {
      span {
        margin-right: 2px;
      }
    }

    &__price {
      position: absolute;
      bottom: 1rem;
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
}

/*
* USER PAGE
*/

.user-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // background-color: $yellow;
}

.signin,
.signup {
  // border-right: 1px solid #dee2e6;
  // border-radius: 2px;
  margin: 3rem auto;
}
input[type="checkbox"] {
  display: inline-block;
  width: initial;
}

/*
* FOOTER
*/

.footer {
  @include centered;
  border-top: 1px solid $beige;
  font-size: 1.2rem;
  padding: 2rem 3rem;

  &-top {
    display: flex;
    justify-content: space-between;

    &__services {
      width: 50rem;

      button {
        @include sub-button;
        display: inline-block;
      }
    }

    &__sitemap {
      display: flex;
      justify-content: space-evenly;
      width: 50rem;

      li {
        display: block;
      }
    }
  }
}
