@import "variables.scss";

/*
* PAGES
*/
.home-container {
  display: grid;
  grid-template-rows: auto;
}
.header-wrapper {
  height: 40rem;
  background-image: $bg-img;
  background-repeat: cover;
  background-size: 100%;
  background-position: right 35% bottom 45%;
}

/*
* COMPONENTS
*/
.header {
  display: grid;
  grid-template-columns: 1fr 50rem;
  // max-width: 1060px;

  color: $black;
  font-weight: 400;
  margin-top: 2rem;

  &-logo {
    font-size: 3rem;
    margin-left: 2rem;
    font-family: $bold;
  }

  &-navigation {
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;

      li {
        cursor: pointer;
        font-size: 1.7rem;
      }
    }
  }
}

.search {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  height: 20rem;
  text-align: center;

  label {
    font-size: 3rem;
    margin-left: 2rem;
    font-family: $bold;
    // color: $beige;
  }

  input {
    height: 4rem;
    width: 60rem;
    padding: 1rem;
    font-size: 1.5rem;
    margin: auto;

    &:focus::placeholder {
      color: transparent;
    }
  }
}

.city-preview {
  height: 20rem;
  background-color: lightgreen;
}
.tour-preview {
  height: 20rem;
  background-color: lightcoral;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ticket-preview {
  height: 20rem;
  background-color: lightgrey;
}

.city-preview {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.city-button {
  cursor: pointer;
  width: 13rem;
  height: 13rem;
  background-color: lightyellow;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  //   background-image: url("https://unsplash.it/200/200");
  font-size: 2rem;

  &:hover {
    background-color: yellow;
    transform: translateY(-1rem);
  }
}

/*
* Preview Card
*/
.preview-card {
  width: 10rem;
  height: 15rem;
  background-color: greenyellow;
}

/*
* Signin / Signup
*/

.signin {
  border: 1px solid #dee2e6;
  border-radius: 2px;
}
#keep_session {
  display: inline-block;
  width: initial;
}
