@import "variables.scss";
@import "App.scss";

/*
* PAGES
*/
.home-container {
  display: grid;
  grid-template-rows: auto;
}

// .header-wrapper {
//   height: 40rem;
//   background-image: $bg-img;
//   background-repeat: cover;
//   background-size: 100%;
//   background-position: right 35% bottom 45%;
// }

.user-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // background-color: $yellow;
}

/*
* CITY PAGE
*/
.city {
  // 공통으로 적용될 항목
  &__title {
    font-size: 2rem;
    font-weight: 600;
    margin: 1.5rem 0;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  //

  &-header {
    height: 35rem;
    background-image: url("/img/london-header.jpg");
    background-size: 100%;
    background-position: right 35% bottom 50%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__name {
      &-main {
        font-size: 4rem;
      }

      &-sub {
        font-size: 2rem;
      }
    }
  }

  &-desc {
    max-width: 80%;
    margin: 6rem auto;
    height: auto;

    &__content {
      font-size: 1.5rem;
      display: flex;
      justify-content: space-between;
    }

    &__description {
      padding: 0 2rem;
      line-height: 3rem;
    }
  }

  &-tour {
    max-width: 80%;
    margin: 6rem auto;
  }

  &-ticket {
    max-width: 80%;
    margin: 6rem auto;
  }
}

/*
* Product Card
*/
.product-card {
  cursor: pointer;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  width: 25rem;
  height: 27rem;
  // background-color: greenyellow;
  border: 1px solid $beige;
  border-radius: 1rem;

  &:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 2px 5px rgba(129, 138, 148, 0.32);
  }

  &-top {
    &__photo {
      height: 100%;
      background-color: lightpink;
    }
  }

  &-bottom {
    margin: 1rem;
    position: relative;

    &__title {
      font-size: 1.7rem;
      font-weight: 600;
    }

    &__review {
      span {
        margin-right: 2px;
      }
    }

    &__price {
      position: absolute;
      bottom: 1rem;
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
}

/*
* COMPONENTS
*/

.header {
  display: grid;
  grid-template-columns: 1fr 35rem;
  // max-width: 1060px;

  color: $black;
  font-weight: 400;
  margin: 2rem auto;

  &-logo {
    font-size: 3rem;
    margin-left: 3rem;
    font-family: $bold;

    a {
      cursor: pointer;
    }
  }

  &-navigation {
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;

      li {
        cursor: pointer;
        font-size: 1.7rem;
      }
    }
  }
}

.search {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  height: 20rem;
  text-align: center;

  label {
    font-size: 3rem;
    margin-left: 2rem;
    font-family: $bold;
    // color: $beige;
  }

  input {
    height: 4rem;
    width: 60rem;
    padding: 1rem;
    font-size: 1.5rem;
    margin: auto;

    &:focus::placeholder {
      color: transparent;
    }
  }
}

.city-preview {
  height: 20rem;
  background-color: lightgreen;
}
.tour-preview {
  height: 20rem;
  background-color: lightcoral;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ticket-preview {
  height: 20rem;
  background-color: lightgrey;
}

.city-preview {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.city-button {
  cursor: pointer;
  width: 13rem;
  height: 13rem;
  background-color: lightyellow;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  //   background-image: url("https://unsplash.it/200/200");
  font-size: 2rem;

  &:hover {
    background-color: yellow;
    transform: translateY(-1rem);
  }
}

/*
* Signin / Signup
*/

.signin,
.signup {
  // border-right: 1px solid #dee2e6;
  // border-radius: 2px;
  margin: 3rem auto;
}
input[type="checkbox"] {
  display: inline-block;
  width: initial;
}

.product {
  display: grid;
  grid-template-columns: 5fr 1fr;

  &-main {
    background-color: $yellow;

    height: 20rem;
  }

  &-side {
    background-color: $coral;
    height: 20rem;

    &__price {
      font-size: 1.5rem;
    }
  }
}
