$yellow: #f3d250;
$blue: #90ccf4;
$dark_blue: #5da2d5;
$beige: #ececec;
$coral: #f78888;
$black: #272727;

$bg-img: url("/img/barcelona.jpg");

/*
* FONT
*/
$bold: "Maple-bold", sans-serif;

/*
* MIXINS 
*/

@mixin centered {
  width: 80%;
  margin: 3rem auto;
}

@mixin sm-title {
  font-size: 1.6rem;
  font-weight: 600;
}

@mixin md-title {
  font-size: 2rem;
  font-weight: 600;
}

@mixin lg-title {
  font-size: 4rem;
  font-weight: 600;
}

@mixin product-separated-area {
  border-top: 1px solid $beige;
  //   border-bottom: 1px solid $beige;
  padding: 2rem;
  margin: 1rem;
}

@mixin main-button {
  display: block;
  margin: 0.5rem;
  width: 25rem;
  height: 4rem;
  text-align: center;
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: $blue;
  cursor: pointer;

  &:hover {
    background-color: $dark_blue;
  }
}

@mixin sub-button {
  display: block;
  margin: 0.5rem;
  width: 20rem;
  height: 3rem;
  text-align: center;
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: $beige;
  cursor: pointer;
}
